@model ForumProject.Models.Thread

@{
    ViewBag.Title = "Thread";
}

<h2>Thread</h2>

<p>
    @Html.ActionLink("Reply", "Reply", new { @id = Model.Id })
</p>
<div>
    <h4>Thread</h4>
    <hr />
    <dl class="glyphicon-log-out">
        <dt>
            @Html.DisplayNameFor(model => model.ThreadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreadContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreadContent)
        </dd>

    </dl>
</div>




@Html.Partial("_Replies", Model.ThreadReplies)  

