@model IEnumerable<ForumProject.Models.Thread>

@{
    ViewBag.Title = "Threads";
}

<h2>Threads</h2>

<p>
    @Html.ActionLink("Create New", "CreateThread")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThreadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ThreadName, "Replies", new { @id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadContent)
        </td>
    </tr>
}

</table>
